In [3]:
import pandas as pd

In [173]:
df1 = pd.read_excel("../data/raw_data/用电负荷(2019080910).xlsx")

In [174]:
df1.head(2)

,序号,用电企业名称,日期,00:00,01:00,02:00,03:00,04:00,05:00,06:00,...,14:00,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00
0,32,肇庆市现代筑美家居有限公司,2019-08-01,0.06,0.18,0.18,0.18,0.18,0.18,0.12,...,0.9,0.96,0.9,0.36,0.84,0.90,0.78,0.66,0.72,0.78
1,33,肇庆市现代筑美家居有限公司,2019-08-02,0.36,0.60,0.78,0.72,0.72,0.72,0.72,...,0.9,0.96,0.9,0.42,0.78,0.96,0.78,0.78,0.78,0.78

In [175]:
df1.drop(["序号","用电企业名称"],axis=1, inplace=True)

In [176]:
df1.set_index(["日期"], inplace=True)

In [177]:
df2=df1.stack().reset_index()

In [178]:
df2

               日期 level_1      0
0      2019-08-01   00:00  0.060
1      2019-08-01   01:00  0.180
2      2019-08-01   02:00  0.180
3      2019-08-01   03:00  0.180
4      2019-08-01   04:00  0.180
5      2019-08-01   05:00  0.180
6      2019-08-01   06:00  0.120
7      2019-08-01   07:00  0.360
8      2019-08-01   08:00  0.780
9      2019-08-01   09:00  0.900
10     2019-08-01   10:00  0.960
11     2019-08-01   11:00  0.840
12     2019-08-01   12:00  0.300
13     2019-08-01   13:00  0.720
14     2019-08-01   14:00  0.900
15     2019-08-01   15:00  0.960
16     2019-08-01   16:00  0.900
17     2019-08-01   17:00  0.360
18     2019-08-01   18:00  0.840
19     2019-08-01   19:00  0.900
20     2019-08-01   20:00  0.780
21     2019-08-01   21:00  0.660
22     2019-08-01   22:00  0.720
23     2019-08-01   23:00  0.780
24     2019-08-02   00:00  0.360
25     2019-08-02   01:00  0.600
26     2019-08-02   02:00  0.780
27     2019-08-02   03:00  0.720
28     2019-08-02   04:00  0.720
29     2019-08-02   05:00  0.720
...           ...     ...    ...
385190 2019-10-30   18:00  0.344
385191 2019-10-30   19:00  0.344
385192 2019-10-30   20:00  0.368
385193 2019-10-30   21:00  0.456
385194 2019-10-30   22:00  0.464
385195 2019-10-30   23:00  0.496
385196 2019-10-31   00:00  0.528
385197 2019-10-31   01:00  0.504
385198 2019-10-31   02:00  0.528
385199 2019-10-31   03:00  0.512
385200 2019-10-31   04:00  0.512
385201 2019-10-31   05:00  0.472
385202 2019-10-31   06:00  0.408
385203 2019-10-31   07:00  0.376
385204 2019-10-31   08:00  0.360
385205 2019-10-31   09:00  0.344
385206 2019-10-31   10:00  0.360
385207 2019-10-31   11:00  0.360
385208 2019-10-31   12:00  0.344
385209 2019-10-31   13:00  0.320
385210 2019-10-31   14:00  0.320
385211 2019-10-31   15:00  0.336
385212 2019-10-31   16:00  0.320
385213 2019-10-31   17:00  0.360
385214 2019-10-31   18:00  0.336
385215 2019-10-31   19:00  0.392
385216 2019-10-31   20:00  0.448
385217 2019-10-31   21:00  0.488
385218 2019-10-31   22:00  0.512
385219 2019-10-31   23:00  0.512

[385220 rows x 3 columns]

In [179]:
def half_month(day):
    return 1 if day < 15 else 2
def holiday(month, day):
    if ((month == 9) and (day==13 or day==14 or day==15)) or ((month == 10) and (day==1 or day==2 or day==3 or day==4 or day==5 or day==6 or day==7)):
        return 1 
    else:
        return 2


df2.loc[:,'year'] = df2['日期'].apply(lambda x:x.year)
df2.loc[:,'month'] = df2['日期'].apply(lambda x:x.month)
df2.loc[:,'day'] = df2['日期'].apply(lambda x: x.day)
df2.loc[:,'day_of_week'] = df2['日期'].apply(lambda x: x.dayofweek)
df2.loc[:,'weekend'] = df2['日期'].apply(lambda x:x.dayofweek>4)
df2.loc[:,'half_month'] = df2['日期'].apply(lambda x: half_month(x.day))
df2.loc[:,'holiday'] = df2['日期'].apply(lambda x: holiday(x.month, x.day))

In [180]:
df2["day_of_week"].value_counts()

3    58533
2    54552
1    54528
5    54431
6    54408
0    54408
4    54360
Name: day_of_week, dtype: int64

In [181]:
df2=df2.drop('level_1', axis=1).join(df2['level_1'].str.split(':', expand=True).stack().reset_index(level=1, drop=True).rename('hour'))

In [182]:
#df2["hour"].astype("int64")# 直接转转不了 先转str 再转 int
df2["hour"]=df2["hour"].astype(str).astype(int)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 770440 entries, 0 to 385219
Data columns (total 10 columns):
日期             770440 non-null datetime64[ns]
0              770440 non-null float64
year           770440 non-null int64
month          770440 non-null int64
day            770440 non-null int64
day_of_week    770440 non-null int64
weekend        770440 non-null bool
half_month     770440 non-null int64
holiday        770440 non-null int64
hour           770440 non-null int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(7)
memory usage: 59.5 MB

In [183]:
df2

,日期,0,year,month,day,day_of_week,weekend,half_month,holiday,hour
0,2019-08-01,0.060,2019,8,1,3,False,1,2,0
0,2019-08-01,0.060,2019,8,1,3,False,1,2,0
1,2019-08-01,0.180,2019,8,1,3,False,1,2,1
1,2019-08-01,0.180,2019,8,1,3,False,1,2,0
2,2019-08-01,0.180,2019,8,1,3,False,1,2,2
2,2019-08-01,0.180,2019,8,1,3,False,1,2,0
3,2019-08-01,0.180,2019,8,1,3,False,1,2,3
3,2019-08-01,0.180,2019,8,1,3,False,1,2,0
4,2019-08-01,0.180,2019,8,1,3,False,1,2,4
4,2019-08-01,0.180,2019,8,1,3,False,1,2,0
5,2019-08-01,0.180,2019,8,1,3,False,1,2,5
5,2019-08-01,0.180,2019,8,1,3,False,1,2,0
6,2019-08-01,0.120,2019,8,1,3,False,1,2,6
6,2019-08-01,0.120,2019,8,1,3,False,1,2,0
7,2019-08-01,0.360,2019,8,1,3,False,1,2,7
7,2019-08-01,0.360,2019,8,1,3,False,1,2,0
8,2019-08-01,0.780,2019,8,1,3,False,1,2,8
8,2019-08-01,0.780,2019,8,1,3,False,1,2,0
9,2019-08-01,0.900,2019,8,1,3,False,1,2,9
9,2019-08-01,0.900,2019,8,1,3,False,1,2,0
10,2019-08-01,0.960,2019,8,1,3,False,1,2,10
10,2019-08-01,0.960,2019,8,1,3,False,1,2,0
11,2019-08-01,0.840,2019,8,1,3,False,1,2,11
11,2019-08-01,0.840,2019,8,1,3,False,1,2,0
12,2019-08-01,0.300,2019,8,1,3,False,1,2,12
12,2019-08-01,0.300,2019,8,1,3,False,1,2,0
13,2019-08-01,0.720,2019,8,1,3,False,1,2,13
13,2019-08-01,0.720,2019,8,1,3,False,1,2,0
14,2019-08-01,0.900,2019,8,1,3,False,1,2,14
14,2019-08-01,0.900,2019,8,1,3,False,1,2,0
...,...,...,...,...,...,...,...,...,...,...
385205,2019-10-31,0.344,2019,10,31,3,False,2,2,9
385205,2019-10-31,0.344,2019,10,31,3,False,2,2,0
385206,2019-10-31,0.360,2019,10,31,3,False,2,2,10
385206,2019-10-31,0.360,2019,10,31,3,False,2,2,0
385207,2019-10-31,0.360,2019,10,31,3,False,2,2,11
385207,2019-10-31,0.360,2019,10,31,3,False,2,2,0
385208,2019-10-31,0.344,2019,10,31,3,False,2,2,12
385208,2019-10-31,0.344,2019,10,31,3,False,2,2,0
385209,2019-10-31,0.320,2019,10,31,3,False,2,2,13
385209,2019-10-31,0.320,2019,10,31,3,False,2,2,0
385210,2019-10-31,0.320,2019,10,31,3,False,2,2,14
385210,2019-10-31,0.320,2019,10,31,3,False,2,2,0
385211,2019-10-31,0.336,2019,10,31,3,False,2,2,15
385211,2019-10-31,0.336,2019,10,31,3,False,2,2,0
385212,2019-10-31,0.320,2019,10,31,3,False,2,2,16
385212,2019-10-31,0.320,2019,10,31,3,False,2,2,0
385213,2019-10-31,0.360,2019,10,31,3,False,2,2,17
385213,2019-10-31,0.360,2019,10,31,3,False,2,2,0
385214,2019-10-31,0.336,2019,10,31,3,False,2,2,18
385214,2019-10-31,0.336,2019,10,31,3,False,2,2,0
385215,2019-10-31,0.392,2019,10,31,3,False,2,2,19
385215,2019-10-31,0.392,2019,10,31,3,False,2,2,0
385216,2019-10-31,0.448,2019,10,31,3,False,2,2,20
385216,2019-10-31,0.448,2019,10,31,3,False,2,2,0
385217,2019-10-31,0.488,2019,10,31,3,False,2,2,21
385217,2019-10-31,0.488,2019,10,31,3,False,2,2,0
385218,2019-10-31,0.512,2019,10,31,3,False,2,2,22
385218,2019-10-31,0.512,2019,10,31,3,False,2,2,0
385219,2019-10-31,0.512,2019,10,31,3,False,2,2,23
385219,2019-10-31,0.512,2019,10,31,3,False,2,2,0

In [184]:
df2.rename(columns={0:'负荷'},inplace=True)

In [185]:
df2.drop(["日期","year", "month"],axis=1,inplace=True)

In [186]:
df2.drop(["hour"],axis=1,inplace=True)

In [187]:
df3=df2.groupby(["day","day_of_week","weekend","half_month","holiday"]).sum()

In [188]:
df3.reset_index()

    day  day_of_week  weekend  half_month  holiday           负荷
0     1            1    False           1        1  2804.974124
1     1            3    False           1        2  4241.474366
2     1            6     True           1        2  4492.914558
3     2            0    False           1        2  4843.282744
4     2            2    False           1        1  3680.050844
5     2            4    False           1        2  4452.600162
6     3            1    False           1        2  4875.074300
7     3            3    False           1        1  3901.887190
8     3            5     True           1        2  4505.448820
9     4            2    False           1        2  4999.165572
10    4            4    False           1        1  4164.823166
11    4            6     True           1        2  4481.479640
12    5            0    False           1        2  4848.618566
13    5            3    False           1        2  5060.983954
14    5            5     True           1        1  4296.045674
15    6            1    False           1        2  4886.449252
16    6            4    False           1        2  4975.379958
17    6            6     True           1        1  4586.343900
18    7            0    False           1        1  4877.451132
19    7            2    False           1        2  4910.848344
20    7            5     True           1        2  5040.870256
21    8            1    False           1        2  4931.195844
22    8            3    False           1        2  4914.110058
23    8            6     True           1        2  4821.161262
24    9            0    False           1        2  5038.822094
25    9            2    False           1        2  4966.021254
26    9            4    False           1        2  4916.381446
27   10            1    False           1        2  5050.775664
28   10            3    False           1        2  4957.989198
29   10            5     True           1        2  4936.952548
..  ...          ...      ...         ...      ...          ...
62   21            5     True           2        2  4812.352774
63   22            1    False           2        2  4669.574620
64   22            3    False           2        2  4958.188920
65   22            6     True           2        2  4448.276270
66   23            0    False           2        2  4655.645726
67   23            2    False           2        2  4687.784030
68   23            4    False           2        2  4945.305602
69   24            1    False           2        2  4731.295686
70   24            3    False           2        2  4644.963780
71   24            5     True           2        2  4762.681946
72   25            2    False           2        2  4851.064040
73   25            4    False           2        2  4569.283672
74   25            6     True           2        2  4698.102794
75   26            0    False           2        2  4770.099906
76   26            3    False           2        2  4871.753510
77   26            5     True           2        2  4547.992054
78   27            1    False           2        2  4932.496698
79   27            4    False           2        2  4888.789996
80   27            6     True           2        2  4409.600370
81   28            0    False           2        2  4545.038012
82   28            2    False           2        2  4986.057344
83   28            5     True           2        2  4733.489020
84   29            1    False           2        2  4649.727322
85   29            3    False           2        2  4969.254904
86   29            6     True           2        2  4497.167290
87   30            0    False           2        2  4383.797450
88   30            2    False           2        2  4676.905874
89   30            4    False           2        2  4862.024994
90   31            3    False           2        2  4426.367848
91   31            5     True           2        2  4653.592436

[92 rows x 6 columns]

In [189]:
df3.to_csv("./feature_data_without_hour.csv")

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
enc = OneHotEncoder()

In [171]:
from

ImportError: cannot import name 'xgb' from 'xgboost' (/Users/a1/anaconda3/lib/python3.7/site-packages/xgboost/__init__.py)