In [3]:
import pandas as pd

In [130]:
df1 = pd.read_excel("../data/raw_data/用电负荷(2019080910).xlsx")

In [131]:
df1.head(2)

,序号,用电企业名称,日期,00:00,01:00,02:00,03:00,04:00,05:00,06:00,...,14:00,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00
0,32,肇庆市现代筑美家居有限公司,2019-08-01,0.06,0.18,0.18,0.18,0.18,0.18,0.12,...,0.9,0.96,0.9,0.36,0.84,0.90,0.78,0.66,0.72,0.78
1,33,肇庆市现代筑美家居有限公司,2019-08-02,0.36,0.60,0.78,0.72,0.72,0.72,0.72,...,0.9,0.96,0.9,0.42,0.78,0.96,0.78,0.78,0.78,0.78

In [132]:
df1.drop(["序号","用电企业名称"],axis=1, inplace=True)

In [133]:
df1.set_index(["日期"], inplace=True)

In [134]:
df2=df1.stack().reset_index()

In [135]:
df2

               日期 level_1      0
0      2019-08-01   00:00  0.060
1      2019-08-01   01:00  0.180
2      2019-08-01   02:00  0.180
3      2019-08-01   03:00  0.180
4      2019-08-01   04:00  0.180
5      2019-08-01   05:00  0.180
6      2019-08-01   06:00  0.120
7      2019-08-01   07:00  0.360
8      2019-08-01   08:00  0.780
9      2019-08-01   09:00  0.900
10     2019-08-01   10:00  0.960
11     2019-08-01   11:00  0.840
12     2019-08-01   12:00  0.300
13     2019-08-01   13:00  0.720
14     2019-08-01   14:00  0.900
15     2019-08-01   15:00  0.960
16     2019-08-01   16:00  0.900
17     2019-08-01   17:00  0.360
18     2019-08-01   18:00  0.840
19     2019-08-01   19:00  0.900
20     2019-08-01   20:00  0.780
21     2019-08-01   21:00  0.660
22     2019-08-01   22:00  0.720
23     2019-08-01   23:00  0.780
24     2019-08-02   00:00  0.360
25     2019-08-02   01:00  0.600
26     2019-08-02   02:00  0.780
27     2019-08-02   03:00  0.720
28     2019-08-02   04:00  0.720
29     2019-08-02   05:00  0.720
...           ...     ...    ...
385190 2019-10-30   18:00  0.344
385191 2019-10-30   19:00  0.344
385192 2019-10-30   20:00  0.368
385193 2019-10-30   21:00  0.456
385194 2019-10-30   22:00  0.464
385195 2019-10-30   23:00  0.496
385196 2019-10-31   00:00  0.528
385197 2019-10-31   01:00  0.504
385198 2019-10-31   02:00  0.528
385199 2019-10-31   03:00  0.512
385200 2019-10-31   04:00  0.512
385201 2019-10-31   05:00  0.472
385202 2019-10-31   06:00  0.408
385203 2019-10-31   07:00  0.376
385204 2019-10-31   08:00  0.360
385205 2019-10-31   09:00  0.344
385206 2019-10-31   10:00  0.360
385207 2019-10-31   11:00  0.360
385208 2019-10-31   12:00  0.344
385209 2019-10-31   13:00  0.320
385210 2019-10-31   14:00  0.320
385211 2019-10-31   15:00  0.336
385212 2019-10-31   16:00  0.320
385213 2019-10-31   17:00  0.360
385214 2019-10-31   18:00  0.336
385215 2019-10-31   19:00  0.392
385216 2019-10-31   20:00  0.448
385217 2019-10-31   21:00  0.488
385218 2019-10-31   22:00  0.512
385219 2019-10-31   23:00  0.512

[385220 rows x 3 columns]

In [137]:
def half_month(day):
    return 1 if day < 15 else 2
def holiday(month, day):
    if ((month == 9) and (day==13 or day==14 or day==15)) or ((month == 10) and (day==1 or day==2 or day==3 or day==4 or day==5 or day==6 or day==7)):
        return 1 
    else:
        return 2


df2.loc[:,'year'] = df2['日期'].apply(lambda x:x.year)
df2.loc[:,'month'] = df2['日期'].apply(lambda x:x.month)
df2.loc[:,'day'] = df2['日期'].apply(lambda x: x.day)
df2.loc[:,'day_of_week'] = df2['日期'].apply(lambda x: x.dayofweek)
df2.loc[:,'weekend'] = df2['日期'].apply(lambda x:x.dayofweek>4)
df2.loc[:,'half_month'] = df2['日期'].apply(lambda x: half_month(x.day))
df2.loc[:,'holiday'] = df2['日期'].apply(lambda x: holiday(x.month, x.day))

In [112]:
df2["day_of_week"].value_counts()

3    58533
2    54552
1    54528
5    54431
6    54408
0    54408
4    54360
Name: day_of_week, dtype: int64

In [152]:
df2=df2.drop('level_1', axis=1).join(df2['level_1'].str.split(':', expand=True).stack().reset_index(level=1, drop=True).rename('hour'))

In [159]:
#df2["hour"].astype("int64")# 直接转转不了 先转str 再转 int
df2["hour"]=df2["hour"].astype(str).astype(int)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 770440 entries, 0 to 385219
Data columns (total 10 columns):
日期             770440 non-null datetime64[ns]
0              770440 non-null float64
year           770440 non-null int64
month          770440 non-null int64
day            770440 non-null int64
day_of_week    770440 non-null int64
weekend        770440 non-null bool
half_month     770440 non-null int64
holiday        770440 non-null int64
hour           770440 non-null int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(7)
memory usage: 59.5 MB

In [138]:
df2

,日期,level_1,0,year,month,day,day_of_week,weekend,half_month,holiday
0,2019-08-01,00:00,0.060,2019,8,1,3,False,1,2
1,2019-08-01,01:00,0.180,2019,8,1,3,False,1,2
2,2019-08-01,02:00,0.180,2019,8,1,3,False,1,2
3,2019-08-01,03:00,0.180,2019,8,1,3,False,1,2
4,2019-08-01,04:00,0.180,2019,8,1,3,False,1,2
5,2019-08-01,05:00,0.180,2019,8,1,3,False,1,2
6,2019-08-01,06:00,0.120,2019,8,1,3,False,1,2
7,2019-08-01,07:00,0.360,2019,8,1,3,False,1,2
8,2019-08-01,08:00,0.780,2019,8,1,3,False,1,2
9,2019-08-01,09:00,0.900,2019,8,1,3,False,1,2
10,2019-08-01,10:00,0.960,2019,8,1,3,False,1,2
11,2019-08-01,11:00,0.840,2019,8,1,3,False,1,2
12,2019-08-01,12:00,0.300,2019,8,1,3,False,1,2
13,2019-08-01,13:00,0.720,2019,8,1,3,False,1,2
14,2019-08-01,14:00,0.900,2019,8,1,3,False,1,2
15,2019-08-01,15:00,0.960,2019,8,1,3,False,1,2
16,2019-08-01,16:00,0.900,2019,8,1,3,False,1,2
17,2019-08-01,17:00,0.360,2019,8,1,3,False,1,2
18,2019-08-01,18:00,0.840,2019,8,1,3,False,1,2
19,2019-08-01,19:00,0.900,2019,8,1,3,False,1,2
20,2019-08-01,20:00,0.780,2019,8,1,3,False,1,2
21,2019-08-01,21:00,0.660,2019,8,1,3,False,1,2
22,2019-08-01,22:00,0.720,2019,8,1,3,False,1,2
23,2019-08-01,23:00,0.780,2019,8,1,3,False,1,2
24,2019-08-02,00:00,0.360,2019,8,2,4,False,1,2
25,2019-08-02,01:00,0.600,2019,8,2,4,False,1,2
26,2019-08-02,02:00,0.780,2019,8,2,4,False,1,2
27,2019-08-02,03:00,0.720,2019,8,2,4,False,1,2
28,2019-08-02,04:00,0.720,2019,8,2,4,False,1,2
29,2019-08-02,05:00,0.720,2019,8,2,4,False,1,2
...,...,...,...,...,...,...,...,...,...,...
385190,2019-10-30,18:00,0.344,2019,10,30,2,False,2,2
385191,2019-10-30,19:00,0.344,2019,10,30,2,False,2,2
385192,2019-10-30,20:00,0.368,2019,10,30,2,False,2,2
385193,2019-10-30,21:00,0.456,2019,10,30,2,False,2,2
385194,2019-10-30,22:00,0.464,2019,10,30,2,False,2,2
385195,2019-10-30,23:00,0.496,2019,10,30,2,False,2,2
385196,2019-10-31,00:00,0.528,2019,10,31,3,False,2,2
385197,2019-10-31,01:00,0.504,2019,10,31,3,False,2,2
385198,2019-10-31,02:00,0.528,2019,10,31,3,False,2,2
385199,2019-10-31,03:00,0.512,2019,10,31,3,False,2,2
385200,2019-10-31,04:00,0.512,2019,10,31,3,False,2,2
385201,2019-10-31,05:00,0.472,2019,10,31,3,False,2,2
385202,2019-10-31,06:00,0.408,2019,10,31,3,False,2,2
385203,2019-10-31,07:00,0.376,2019,10,31,3,False,2,2
385204,2019-10-31,08:00,0.360,2019,10,31,3,False,2,2
385205,2019-10-31,09:00,0.344,2019,10,31,3,False,2,2
385206,2019-10-31,10:00,0.360,2019,10,31,3,False,2,2
385207,2019-10-31,11:00,0.360,2019,10,31,3,False,2,2
385208,2019-10-31,12:00,0.344,2019,10,31,3,False,2,2
385209,2019-10-31,13:00,0.320,2019,10,31,3,False,2,2
385210,2019-10-31,14:00,0.320,2019,10,31,3,False,2,2
385211,2019-10-31,15:00,0.336,2019,10,31,3,False,2,2
385212,2019-10-31,16:00,0.320,2019,10,31,3,False,2,2
385213,2019-10-31,17:00,0.360,2019,10,31,3,False,2,2
385214,2019-10-31,18:00,0.336,2019,10,31,3,False,2,2
385215,2019-10-31,19:00,0.392,2019,10,31,3,False,2,2
385216,2019-10-31,20:00,0.448,2019,10,31,3,False,2,2
385217,2019-10-31,21:00,0.488,2019,10,31,3,False,2,2
385218,2019-10-31,22:00,0.512,2019,10,31,3,False,2,2
385219,2019-10-31,23:00,0.512,2019,10,31,3,False,2,2

In [161]:
df2.rename(columns={0:'负荷'},inplace=True)

In [164]:
df2.drop(["日期","year", "month"],axis=1,inplace=True)

In [165]:
df2

           负荷  day  day_of_week  weekend  half_month  holiday  hour
0       0.060    1            3    False           1        2     0
0       0.060    1            3    False           1        2     0
1       0.180    1            3    False           1        2     1
1       0.180    1            3    False           1        2     0
2       0.180    1            3    False           1        2     2
2       0.180    1            3    False           1        2     0
3       0.180    1            3    False           1        2     3
3       0.180    1            3    False           1        2     0
4       0.180    1            3    False           1        2     4
4       0.180    1            3    False           1        2     0
5       0.180    1            3    False           1        2     5
5       0.180    1            3    False           1        2     0
6       0.120    1            3    False           1        2     6
6       0.120    1            3    False           1        2     0
7       0.360    1            3    False           1        2     7
7       0.360    1            3    False           1        2     0
8       0.780    1            3    False           1        2     8
8       0.780    1            3    False           1        2     0
9       0.900    1            3    False           1        2     9
9       0.900    1            3    False           1        2     0
10      0.960    1            3    False           1        2    10
10      0.960    1            3    False           1        2     0
11      0.840    1            3    False           1        2    11
11      0.840    1            3    False           1        2     0
12      0.300    1            3    False           1        2    12
12      0.300    1            3    False           1        2     0
13      0.720    1            3    False           1        2    13
13      0.720    1            3    False           1        2     0
14      0.900    1            3    False           1        2    14
14      0.900    1            3    False           1        2     0
...       ...  ...          ...      ...         ...      ...   ...
385205  0.344   31            3    False           2        2     9
385205  0.344   31            3    False           2        2     0
385206  0.360   31            3    False           2        2    10
385206  0.360   31            3    False           2        2     0
385207  0.360   31            3    False           2        2    11
385207  0.360   31            3    False           2        2     0
385208  0.344   31            3    False           2        2    12
385208  0.344   31            3    False           2        2     0
385209  0.320   31            3    False           2        2    13
385209  0.320   31            3    False           2        2     0
385210  0.320   31            3    False           2        2    14
385210  0.320   31            3    False           2        2     0
385211  0.336   31            3    False           2        2    15
385211  0.336   31            3    False           2        2     0
385212  0.320   31            3    False           2        2    16
385212  0.320   31            3    False           2        2     0
385213  0.360   31            3    False           2        2    17
385213  0.360   31            3    False           2        2     0
385214  0.336   31            3    False           2        2    18
385214  0.336   31            3    False           2        2     0
385215  0.392   31            3    False           2        2    19
385215  0.392   31            3    False           2        2     0
385216  0.448   31            3    False           2        2    20
385216  0.448   31            3    False           2        2     0
385217  0.488   31            3    False           2        2    21
385217  0.488   31            3    False           2        2     0
385218  0.512   31            3    False           2        2    22
385218  0.512   31            3    False           2        2     0
385219  0.512   31            3    False           2        2    23
385219  0.512   31            3    False           2        2     0

[770440 rows x 7 columns]

In [166]:
df3=df2.groupby(["day","day_of_week","weekend","half_month","holiday","hour"]).sum()

In [170]:
df3.reset_index()

      day  day_of_week  weekend  half_month  holiday  hour           负荷
0       1            1    False           1        1     0  1488.973134
1       1            1    False           1        1     1    66.894288
2       1            1    False           1        1     2    51.475476
3       1            1    False           1        1     3    52.376888
4       1            1    False           1        1     4    48.082656
5       1            1    False           1        1     5    48.097407
6       1            1    False           1        1     6    59.204098
7       1            1    False           1        1     7    55.085954
8       1            1    False           1        1     8    52.331113
9       1            1    False           1        1     9    54.337870
10      1            1    False           1        1    10    56.050480
11      1            1    False           1        1    11    54.074664
12      1            1    False           1        1    12    56.196697
13      1            1    False           1        1    13    57.806501
14      1            1    False           1        1    14    58.478856
15      1            1    False           1        1    15    56.655100
16      1            1    False           1        1    16    56.945912
17      1            1    False           1        1    17    58.337215
18      1            1    False           1        1    18    60.004891
19      1            1    False           1        1    19    57.742632
20      1            1    False           1        1    20    58.195422
21      1            1    False           1        1    21    57.688931
22      1            1    False           1        1    22    55.909605
23      1            1    False           1        1    23    84.028334
24      1            3    False           1        2     0  2206.673105
25      1            3    False           1        2     1    79.448181
26      1            3    False           1        2     2    82.835671
27      1            3    False           1        2     3    72.068743
28      1            3    False           1        2     4    85.040745
29      1            3    False           1        2     5    77.523005
...   ...          ...      ...         ...      ...   ...          ...
2178   31            3    False           2        2    18   103.306600
2179   31            3    False           2        2    19    97.874116
2180   31            3    False           2        2    20   100.178196
2181   31            3    False           2        2    21    90.569414
2182   31            3    False           2        2    22    99.711989
2183   31            3    False           2        2    23    83.312854
2184   31            5     True           2        2     0  2413.292915
2185   31            5     True           2        2     1    91.568476
2186   31            5     True           2        2     2    81.750703
2187   31            5     True           2        2     3    91.097809
2188   31            5     True           2        2     4    74.734426
2189   31            5     True           2        2     5    90.044182
2190   31            5     True           2        2     6    88.400897
2191   31            5     True           2        2     7   100.428383
2192   31            5     True           2        2     8    89.232471
2193   31            5     True           2        2     9   103.549152
2194   31            5     True           2        2    10    99.544876
2195   31            5     True           2        2    11    98.014010
2196   31            5     True           2        2    12    98.470117
2197   31            5     True           2        2    13   108.735726
2198   31            5     True           2        2    14   103.563042
2199   31            5     True           2        2    15   104.214637
2200   31            5     True           2        2    16   107.130674
2201   31            5     True           2        2    17   110.864989
2202   31            5     True           2        2    18   105.372858
2203   31            5     True           2        2    19    99.133072
2204   31            5     True           2        2    20    97.576964
2205   31            5     True           2        2    21   101.784377
2206   31            5     True           2        2    22    96.677218
2207   31            5     True           2        2    23    98.410462

[2208 rows x 7 columns]

In [ ]:
from sklearn.preprocessing import OneHotEncoder